.container{
    margin-bottom: 50px;
}

.alert-container{
    margin-bottom: 0px;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.caption-full{
    padding: 10px;
}

.form-container{
    width: 500px;
}